{%- macro news(post) %}
<h1>{{ post.title }}</h1>
<small>Published {{ post.published.strftime("%d %B, %Y") }}</small>
{% if post.ytid %}
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ post.ytid }}" frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
  class="ytembed"></iframe>
{% endif %} {{ post.content }} {%- endmacro %}

{%- macro profile(person, bio=False) %}
<div class="profile">

  {% set photo %}{% if person.has_pic %}{% asset('people/{}.jpg'.format(person.pk)) %}{% else %}{%
  asset('people/placeholder.jpg') %}{% endif %}{%endset%}

  <img class="local-border" src="{{photo}}" />

  <div class="details">
    <b>{{ person.title or "" }} {{ person.name }}</b>
    <small>
      {{ person.pronouns or "" }} {% if person.pronouns and person.twitter
      %}&bull;{% endif %} {% if person.twitter %}
      <a href="https://twitter.com/{{ person.twitter }}">@{{ person.twitter }}</a>
      {% endif %}
      {% if person.affiliation %} &bull; {{ person.affiliation }}{% endif %}
    </small>
    {% if person.role %}
    <span>{{ person.role }}</span>
    {% endif %} {% if bio %} {{ person.bio }} {% endif %}
  </div>
</div>
{%- endmacro %}