{% extends '_base.html' %}
{% import '_macros.html' as m %}
{% block main %}
<h1>Latest news</h1>
<ul>
  {% for post in news %}
  <li>
    <a href="{% url 'news_post', post %}">{{ post.title }}</a> published {{
    post.published.strftime("%d %B, %Y") }}
  </li>
  {% endfor %}
</ul>
{{ page.content }}
{% if organisers %}
<style>.local-border { border: 3px solid  #00ab56}</style>
<hr>
<h2>Lead Organisers</h2>
{% for person in organisers %}
{{ m.profile(person) }}
{% endfor %}
{% endif %}

{% endblock %}
