{%- set nav_class = 'home' -%} {% extends '_base.html' %} {% import
'_macros.html' as m %} {% block nav %}
<header id="header">
  <img
    src="{% asset('Logo_Reversed_PyConline.svg') %}"
    alt="PyCon AU"
    role="heading"
    aria-level="1"
  />
  <div class="rotated">
    <article>
      <h1>See you next year!</h1>
      <a href="/attend/">Sign up for updates</a>
    </article>
    {{ super() }}
  </div>
</header>
{% endblock %}
{% block main %}
{% if pinned_item %}{{m.news(pinned_item)}}{%else%}{{ m.news(latest_news) }}{%endif%}
<br>
<a href="/news">Read more news posts</a>
{% endblock %}
