{% extends '_base.html' %}
{% import '_sponsor_macros.html' as m %}
{% block main %}
<h1>PyConline AU sponsors</h1>

<p>PyCon AU is the national conference for developers using the Python Programming Language. Hosted annually since 2010, this event brings the national and international Python community together.</p>

<p>The conference could not run without the generous support of our sponsors. We thank them for their financial commitment, and ongoing support and encouragement to make PyConline AU a special moment for our vibrant developer community.</p>

<p>Please take a moment to get to know the 2021 PyConline AU sponsors:</p>

{% if platinum %}
<h1>Platinum Sponsor{% if platinum | length != 1 %}s{% endif %}</h1>
{% for s in platinum %} {{m.sponsor(s)}} {% endfor %}
<hr />
{% endif %}

{% if digital %}
<h1>Digital Sponsor{% if digital | length != 1 %}s{% endif %}</h1>
{% for s in digital %} {{m.sponsor(s)}} {% endfor %}

<hr />
{% endif %}

{% if contributors %}
<h1>Contributor{% if contributors | length != 1 %}s{% endif %}</h1>
<p>
  We thank everyone who <a href="/attend/">purchased a Contributor ticket</a>.
  They are directly helping fund our financial assistance efforts for future
  events:
</p>
{% for s in contributors %}
<li>
  {{s.title}} {% endfor %}

  <hr />
{% endif %}

<h1>Auspice</h1>
  {% for s in auspice %} {{m.sponsor(s)}} {% endfor %}


<h1>Sponsorship Opportunities</h1>
<p>With the conference actively upon us, we are no longer actively reaching out for new sponsors. We're incredibly grateful to all the sponsors who've helped make 2021 such a memorable moment for our community.</p>

<p>
  To find out more about the sponsorship opportunities available,
  <a href="/assets/documents/pyconlineau2021_sponsorships.pdf">download our sponsorship prospectus</a>.
  You can reach the conference team via 
  <a href="mailto:sponsorship@pycon.org.au">sponsorship@pycon.org.au</a> to discuss last minute sponsorship opportunities for PyConline AU 2021.
</p>
{% endblock %}

