{% extends '_base.html' %}
{% import '_macros.html' as m %}
{% block main %}
<h1 style="color: {{track.color}}">{{track.emoji}} {{track.name}}</h1>
{{track.summary}}
<br>
{% if track.website %}<br>Learn more about the {{track.name}} track at <a href="{{track.website}}">{{track.website}}</a><br>{% endif %}
{% if sessions %}
<hr>
Talks in this track:
{% for session in sessions %}
    {% if track.name not in session.title and track.altname not in session.title %}
    <li><a href="{% url "session", session %}">{{session.title}}</a> by {% for speaker in session.speakers %}{{ speaker.name }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
    {% endif %}
{% endfor %}
<hr>
{% endif %}
<hr>

{{track.content}}

{% if track.organisers %}
<style>.local-border { border: 3px solid {{track.color}} }</style>
<hr>
<h2>Organisers</h2>
{% for person in track.organisers %}
{{ m.profile(person) }}
{% endfor %}
{% endif %}

{% if track.sponsor %}
<hr>
<p align="center">
The {{track.name}} track is proudly sponsored by <a href="{{track.sponsor.url}}">{{track.sponsor.title}}.
<br>
<img src='{% asset "sponsor-logos/" + track.sponsor.logo %}' class="sponsorlogo" alt='{{track.sponsor.title}}'></a></p>
{% endif %}

{% endblock %}
